# Global code owners
* @tarifiasource/engineering

# Backend
server/** @frankie567 @tarifiasource/engineering
server/tarifia/metrics/** @Yopi @pieterbeulque
server/tests/metrics/** @Yopi @pieterbeulque
server/tarifia/organization_review/** @psincraian
server/tests/organization_review/** @psincraian
server/tarifia/customer_seat/** @psincraian
server/tests/customer_seat/** @psincraian
server/tests/e2e/** @psincraian

# Infrastructure
terraform/** @Yopi
infra/** @Yopi

# Frontend
clients/apps/web/src/components/Checkout/** @sebastianekstrom
clients/packages/checkout/** @sebastianekstrom
clients/packages/orbit/** @emilwidlund @sebastianekstrom

# Docs
/docs/ @pieterbeulque

# Other
**/legal @victoriabolin @birkjernstrom
